.app{
 text-align: center;
 margin:20px auto;
 
 
}

.Photo{
  margin-top: 50px;
  padding: 0 auto;
}
img{
  width: 300px;
  border-radius: 50%;
}
img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}